# Gradle
/build/
.gradle/

# IDE
.idea/
*.iml

# Environment
.direnv
.envrc

# Kotlin/Native
*.kexe
*.klib

# Android SDK
/android-sdk/
local.properties
.DS_Store
.android-sdk/licenses/android-sdk-license
