# Gradle
/build/
.gradle/

# IDE
.idea/
*.iml

# Environment
.direnv
.envrc

# Kotlin/Native
*.kexe
*.klib

# Android SDK
/android-sdk/
/.android-sdk/
local.properties
.DS_Store

# Kotlin/JS yarn lockfile
kotlin-js-store/
